<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button>Rafraichir</button>
      <button>Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">3.40€</td>
          <td class="qty">100</td>
        </tr>
        <tr>
          <td class="name">Tournevis cruciforme</td>
          <td class="price">3.80€</td>
          <td class="qty">100</td>
        </tr>
        <tr>
          <td class="name">Tondeuse à gazon</td>
          <td class="price">120.00€</td>
          <td class="qty">3</td>
        </tr>
        <tr>
          <td class="name">Pelle</td>
          <td class="price">5.00€</td>
          <td class="qty">20</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
