<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, culpa? Dolor
    in tenetur earum unde doloremque alias totam blanditiis, aperiam laborum
    ullam, minus sequi itaque. Adipisci, similique eveniet! Rerum repellat quam
    fugit facere ratione eius optio laboriosam cumque? Soluta quo sed voluptas
    dolorum iure aliquid eaque! Rerum odit asperiores animi expedita eum, magnam
    enim impedit assumenda recusandae sint ipsam fuga itaque dolore, ratione
    temporibus maxime corrupti voluptas? Voluptates, adipisci dignissimos
    laborum explicabo, similique id expedita, autem animi exercitationem labore
    cupiditate quidem libero numquam quisquam nostrum fugiat a sapiente ipsa
    reiciendis possimus maiores aliquid necessitatibus! Placeat expedita animi
    ad quo non?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus at sequi
    perferendis debitis odio impedit laborum cupiditate soluta, ipsum ex tenetur
    sit sint nostrum pariatur officia provident ullam hic! Totam illo esse animi
    iusto dignissimos facilis laborum qui, facere ipsa hic at, eligendi suscipit
    repudiandae dolore cupiditate alias vitae dicta.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reiciendis
    praesentium dolores incidunt soluta ducimus magnam dignissimos mollitia
    magni dicta! Nihil temporibus dolorum accusamus, qui esse dolorem eveniet
    rerum labore doloribus nulla. Unde deleniti similique aliquam, nam quidem
    quia voluptates quod et! Corrupti adipisci id minima, rem aspernatur iste
    quaerat?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, culpa? Dolor
    in tenetur earum unde doloremque alias totam blanditiis, aperiam laborum
    ullam, minus sequi itaque. Adipisci, similique eveniet! Rerum repellat quam
    fugit facere ratione eius optio laboriosam cumque? Soluta quo sed voluptas
    dolorum iure aliquid eaque! Rerum odit asperiores animi expedita eum, magnam
    enim impedit assumenda recusandae sint ipsam fuga itaque dolore, ratione
    temporibus maxime corrupti voluptas? Voluptates, adipisci dignissimos
    laborum explicabo, similique id expedita, autem animi exercitationem labore
    cupiditate quidem libero numquam quisquam nostrum fugiat a sapiente ipsa
    reiciendis possimus maiores aliquid necessitatibus! Placeat expedita animi
    ad quo non?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus at sequi
    perferendis debitis odio impedit laborum cupiditate soluta, ipsum ex tenetur
    sit sint nostrum pariatur officia provident ullam hic! Totam illo esse animi
    iusto dignissimos facilis laborum qui, facere ipsa hic at, eligendi suscipit
    repudiandae dolore cupiditate alias vitae dicta.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reiciendis
    praesentium dolores incidunt soluta ducimus magnam dignissimos mollitia
    magni dicta! Nihil temporibus dolorum accusamus, qui esse dolorem eveniet
    rerum labore doloribus nulla. Unde deleniti similique aliquam, nam quidem
    quia voluptates quod et! Corrupti adipisci id minima, rem aspernatur iste
    quaerat?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, culpa? Dolor
    in tenetur earum unde doloremque alias totam blanditiis, aperiam laborum
    ullam, minus sequi itaque. Adipisci, similique eveniet! Rerum repellat quam
    fugit facere ratione eius optio laboriosam cumque? Soluta quo sed voluptas
    dolorum iure aliquid eaque! Rerum odit asperiores animi expedita eum, magnam
    enim impedit assumenda recusandae sint ipsam fuga itaque dolore, ratione
    temporibus maxime corrupti voluptas? Voluptates, adipisci dignissimos
    laborum explicabo, similique id expedita, autem animi exercitationem labore
    cupiditate quidem libero numquam quisquam nostrum fugiat a sapiente ipsa
    reiciendis possimus maiores aliquid necessitatibus! Placeat expedita animi
    ad quo non?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus at sequi
    perferendis debitis odio impedit laborum cupiditate soluta, ipsum ex tenetur
    sit sint nostrum pariatur officia provident ullam hic! Totam illo esse animi
    iusto dignissimos facilis laborum qui, facere ipsa hic at, eligendi suscipit
    repudiandae dolore cupiditate alias vitae dicta.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reiciendis
    praesentium dolores incidunt soluta ducimus magnam dignissimos mollitia
    magni dicta! Nihil temporibus dolorum accusamus, qui esse dolorem eveniet
    rerum labore doloribus nulla. Unde deleniti similique aliquam, nam quidem
    quia voluptates quod et! Corrupti adipisci id minima, rem aspernatur iste
    quaerat?
  </p>
</main>
